<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        
    </assemblies></compilation>

      <customErrors mode="RemoteOnly" defaultRedirect="CustomError.aspx"/>
    
    
		<authentication mode="Forms">
			<forms loginUrl="Account/Login.aspx" defaultUrl="Default.aspx" timeout="2880"/>
		</authentication>
    <authorization>
      <deny users="?" />
      <allow roles="Admin,manager,charroi" />
    </authorization>
	
  </system.web>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditBusRoute.aspx">
    <system.web>
      <authorization>
        <deny roles="level3"/>
        <allow roles="Admin,Manager,charroi"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewBusRoute.aspx">
    <system.web>
      <authorization>
        <deny roles="level3"/>
        <allow roles="Admin,charroi"/>
      </authorization>
    </system.web>
  </location>
  <location path="Configuration.aspx">
    <system.web>
      <authorization>
        <deny roles="Manager,charroi,level3"/>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports">
    <system.web>
      <authorization>
        <deny roles="level3,charroi"/>
        <allow roles="Admin,Manager"/>
      </authorization>
    </system.web>
  </location>
  <location path="Services.aspx">
    <system.web>
      <authorization>
        <deny roles="level3,charroi"/>
        <allow roles="Admin,Manager"/>
      </authorization>
    </system.web>
  </location>
  <location path="CustomError.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="enc.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="volcano">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="SQLServer" value="INNOVYS-STEFANO\SQLEXPRESS"/>
    <add key="SQLPass" value="jesus"/> 
    <add key="SecurityDB" value="VKampala"/>
    <add key="SharedDB" value="VKampala"/>
    <add key="SQLUser" value="sa"/>
    <add key="BWF" value="2"/>
    <add key="USD" value="1"/>
    <add key="WritePath" value="C:\inetpub\wwwroot\kgs\pics\"/>
    <add key="CustomerAddress" value="{div class='address'}{div class='companyInfo'}{span}Volcano SARL{/span}{br/}{span}P.O. BOX 6137{/span}{br/}{span}Kigali{/span}{br/}{span}Rwanda{/span}{br/}{/div}{div class='billingContact'}{span}Attn: Mr. Eric Ruhamiriza{/span}{br/}{span}Directeur Financier{/span}{br/}{span}PO BOX 6137 Kigali{/span}{br/}{span}Rwanda{/span}{br/}{/div}{/div}"/>
  </appSettings>
  
  <connectionStrings>
    <add name="AppDBContext" connectionString="Data Source=;Initial Catalog=VKampala;user id=sa;password=jesus;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ksmsBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gateway.esicia.com/index.php" binding="basicHttpBinding"
        bindingConfiguration="ksmsBinding" contract="Esicia.ksmsPortType"
        name="ksmsPort" />
    </client>
  </system.serviceModel>
</configuration>
